* {
    margin: 0;
    padding: 0;
}

body {
    width: 1020px;
    margin: 0 auto;
    font-family: 'Lato', Arial, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    height: 95px;
    padding: 0 40px;
    width: 100%;
    position: relative;
    background-color: #2d303a;
    color: #e3e3e5;
    border: 0;
    box-sizing: border-box;
    border-bottom: 5px solid #323746;
}

.border {
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
    bottom: 0;
}

.header-logo {
    position: relative;
    cursor: pointer;
}

.header-logo h1 {
    font-size: 24px;
    text-transform: uppercase;
}

.header-logo:after {
    content: "*";
    position: absolute;
    top: -2px;
    right: -10px;
    color: #bc5c59;
}

.nav {
    margin: 8px 0 0 auto;
    display: flex;
    font-size: 12px;
    list-style: none;
}

.nav-item a {
    text-decoration: none;
}

.nav-item a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.nav-item + .nav-item {
    margin-left: 29px;
    position: relative;
}

.nav-item a {
    color: #e3e3e5;
}

.nav-item.active a {
    color: #bc5c59;
}

.nav-item:not(:first-child)::before {
    content: "•";
    position: absolute;
    left: -18px;
    top: 0;
    color: #494e62
}

.slider {
    box-sizing: border-box;
    height: 600px;
    width: 100%;
    padding: 0 72px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f06c64;
    position: relative;
}

.slider > img {
    margin-bottom: 10px;
}

.slider .arrow {
    position: absolute;
    top: 46%;
    cursor: pointer;
}

.slider .arrow:hover {
    fill: #2d303a;
}

.slider .arrow-left {
    left: 40px;
}

.slider .arrow-right {
    right: 40px;
    transform: rotate(180deg);
}

.slider .bottom-line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    background-color: #ea676b;
}

.services {
    padding: 68px 40px;
    font-size: 30px;
    background-color: #f2f2f2;
    color: #666d89;
    position: relative;
}

.services h4 {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.services-description {
    font-weight: 300;
    font-size: 18px;
    margin-top: 28px;
    line-height: 30px;
    color: #767e9e;
}

.services .bottom-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: #ffffff;
}

.features {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.features-item {
    display: flex;
    width: calc(100% / 3);
    margin-top: 20px;
}

.features-item:nth-child(n+4) {
    margin-top: 50px;
}

.features-item-icon {
    width: 59px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border-radius: 50%;
    border: 2px solid #666d89;
}

.features-item-description {
    display: flex;
    flex-direction: column;
    margin-left: 15px
}

.features-item-description-name {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-weight: 900;
}

.features-item-description-text {
    margin-top: 5px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-weight: 400;
    overflow: hidden;
}



